*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    background-color: #333;
}

.generateur{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.effetbtn{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

a{
    margin: 20px;
    padding: 10px;
    background-color:whitesmoke;
    border-radius: 10px;
    color: black;
}
