body{
    background-color: #333;
    color: rgb(127, 204, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    /* background-color: rgb(80, 123, 37); */
    width: 100%;
    text-align: center;
    .text_expli{
        width: 400px;
        text-align: justify;
        margin-left: 50%;
        transform: translate(-50%,-50%);
        margin-top: 100px;
    }
}
.container {
    display: flex;
    /* background-color: darkcyan; */
    width: 30%;
    justify-content: center;
}

#annonceur{
    height: 50px;
    width: 100vw;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: cadetblue;
    color: rgb(44, 24, 31);
}

.bloc_papier{
    /* background-color: blueviolet; */
}

.bloc_caillou{
    /* background-color: aliceblue; */
}

.bloc_ciseaux{
    /* background-color: burlywood; */
}
