body{
    background-color: rgb(255, 255, 255);
}

.container{
    width: 700px;
    height: auto;
    margin: 0 auto;
}

.entete{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    gap: 20px;
}
img{
    display: block;
    width: 100%;
}

p{
    text-align: justify;
}